!!! html
html
  head
    title Projectors!

    script(src="/js/jquery.1.7.2.min.js")
    script(src="/js/main.js")

    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")

  body

    .navbar
        .navbar-inner
          .container
            a.brand Projector Commands

    .container.commands

      .row
        h3 Shutter

        .row.cf
          a#shutterOn.span2(href="#") Turn Shutter On
          a#shutterOff.span2(href="#") Turn Shutter Off

      .row
        h3 OSD

        .row.cf
          a#osdOff.span2(href="#") OSD Off

      .row
        h3 Macros

        .row.cf
          a#macro1.span2(href="#") RGB1 - [0, 1]
          a#macro2.span2(href="#") RBG2 - [0,1]

      .row
        h3 Shutdown
        
        .row.cf
          a#standby.span2(href="#") Shutdown