!!! html
html
  head
    title Projectors!

    script(src="/js/jquery.1.7.2.min.js")
    script(src="/js/main.js")

  body

    h1 Projector Commands


    h3 Shutter

    ul
      li
        a#shutterOn(href="#") Turn Shutter On
      li
        a#shutterOff(href="#") Turn Shutter Off

    h3 OSD

    ul
      li
        a#osdOff(href="#") OSD Off

    h3 Macros

    ul
      li
        a#macro1(href="#") RGB1 - [0, 1]
      li
        a#macro2(href="#") RBG2 - [0,1]

    h3 Standby

    ul
      li
        a#standby(href="#") Standby
